/* @theme custom */

@import 'default';

/* Normal */
section {
    justify-content: normal;
    font-size: 20px;
}

section h2{
    color: rgb(68, 67, 67);
    font-size: 28px;
    width: 93%;
    border-bottom: 2px solid #D7D7D7;
    position: absolute;
    top:4%;
    left:4%;
}

section h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

section p{
    font-size: 20px;
}

section::after {
    content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

footer {
    box-sizing:border-box;
    border:10px solid #0070C0;
    background-color:#0070C0;
    width:100%;
    left: 0px;
    bottom: 0px;
    font:Arial;
    color : white;
    background-image: url(./corp-normal.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 10px top
}

footer a{
    color: #FFFFFF;
}

/* Title slide */
section.title{
    justify-content: center;
    background-size: 20%;
    background: linear-gradient(100deg, #ffffff 65%, #0070C0 65%);
}

section.title > footer {
    display:none;
}

section.title h1{
    width:80%;
    font-size: 36px;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-left:20px;
}

div.author {
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

div.author p{
    font-size: 26px;
}

div.author a{
    color: #FFFFFF;
    font-size: 26px;
}

div.corporate {
    text-align: left;
    font-size: 12px;
    position: absolute;
    bottom: 2%;
    left: 50%;
}

/*  Last slide */

section.last {
    background-image: url(./corp-last.png);
    background-repeat: no-repeat;
    background-color:#0070C0;
    background-size: 400px;
    background-position-x: center;
    background-position-y: center;
}

.mermaid {
    font-size: 20px; /* ここでベースのフォントサイズを設定 */
}

.mermaid .label {
    font-size: 18px; /* ノード内のラベルのフォントサイズ */
}

.mermaid .edgeLabel {
    font-size: 14px; /* エッジラベルのフォントサイズ */
}

.mermaid .node rect,

.mermaid .node circle,

.mermaid .node ellipse,

.mermaid .node polygon {
    fill: #0070C0;
    stroke: #D7D7D7;
}

.mermaid .label {
    color: white;
}

.mermaid .edgeLabel {
    background-color: white;
}

.mermaid .edge .path {
    stroke: #0070C0;
}